@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('../../node_modules/leaflet/dist/leaflet.css');
@import url('../../node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css');
@import url('../../node_modules/gridjs/dist/theme/mermaid.css');

* {
  font-family: 'Open Sans', sans-serif;
}

.layout {
  height: 100%;
  width: 100%;
}

.flexible {
  display: flex;
}

.center1 {
  align-content: center;
}

.center2 {
  justify-content: center;
}

.center3 {
  align-items: center;
}

.spaceflex {
  justify-content: space-around;
  align-items: space-around;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.frame {
  flex: 2;
  background-color: teal;
}

.padding {
  padding-left: 1%;
  padding-right: 1%;
}

.paddingvertical {
  padding-top: 1%;
  padding-bottom: 1%;
}

.main {
  flex: 50;
}

#map {
  height: 100%;
  width: 100%;
}

.canvas {
  flex: 5;
  height: 100%;
}

.panel {
  height: 100%;
  background-color: ivory;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.title {
  color: white;
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 0.25%;
  margin-left: 0.5%;
}

.spacely {
  justify-content: space-evenly;
  gap: 15px;
}

.bigspace {
  gap: 15px;
}

.smallspace {
  gap: 10px
}

.layer {
  padding: 4%;
  margin-top: 5%;
  background-color: teal;
  border-radius: 1vh;
}

.legend {
  color: white;
}

button {
  height: 100%;
  border-radius: 100vh;
  width: 100%;
  background-color: teal;
  text-align: center;
  color: white;
  font-size: medium;
  border: 0;
}

button:hover {
  background-color: darkcyan;
}

button:disabled {
  background-color: transparent;
  color: black;
  border: 1px solid teal;
}

input[type=file]::file-selector-button {
  height: 100%;
  border-radius: 100vh;
  width: 50%;
  background-color: teal;
  text-align: center;
  color: white;
  font-size: medium;
  border: 0;
}

input[type=file]::file-selector-button:hover {
  background-color: teal;
}

input[type=checkbox]{
  margin-right: 0.5vw;
}